application.content:
    path: '/lfadraft'
    defaults:
        _controller: '\Drupal\application\Controller\LFADraftController::content'
        _title: 'Create LFA Draft'
    requirements:
        _permission: 'access content'

application.flp_search_form:
  path: '/flp-search'
  defaults:
    _form:  '\Drupal\application\Form\FLPSearchForm'
    _title: 'FLP form search'
  requirements:
    _permission: 'access content'

application.dslistener:
    path: '/dslistener'
    defaults:
        _controller: '\Drupal\application\Controller\DSListenerController::capture'
        _title: 'DocuSign Webhook Listener'
    requirements:
        _access: 'TRUE'